body{
	padding:100px;
	background-color:#3366CC;
}

h1 {
    background-color: RGB(249, 201, 16); 
   }
   p {
    background-color: maroon; 
    color: white; 
   }
#main-image{
width:400px;
border:solid;
border-radius:20px;
}
@media screen and (max-width: 1024px) {
    .container {
        max-width: 600px;}
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 20px;
    }
}
img{max-width: 100%;height: auto}